.h1{
   color: black;
   text-align: center;
   font-family: Arial;
   font-style: italic; 
   
}

.body{
    background-color: #c4aead;
}

.f{
   color:blueviolet;
   text-align: end;
   font-family: Arial;
}